/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.botton-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.link {
  display: block;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 8px;
  transition: 200ms ease-in;
}
.link:hover,
.link:focus {
  transform: scale(1.06);
  color: #747bff;
}
